# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bak
golem_*

# jetbrains
.idea

# go workspace
go.work
go.work.sum
data

# agent
./.claude
./.spec-workflow
.ace-tool/

# python
__pycache__/
*.py[cod]

# build & dist
dist/
